[MESSAGES CONTROL]

disable=multiple-statements,
        wrong-import-position,
        broad-except,
        dangerous-default-value,
        missing-function-docstring,
        isinstance-second-argument-not-valid-type