altgraph==0.17.2
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
future==0.18.2
GDAL @ file:///C:/Users/caspe/Desktop/buteo/wheels/GDAL-3.3.3-cp39-cp39-win_amd64.whl
geojson==2.5.0
geomet==0.3.0
html2text==2020.1.16
idna==3.3
llvmlite==0.37.0
numba==0.54.1
numpy==1.20.3
packaging==21.3
pefile==2021.9.3
pip-upgrade-tool==0.6.2
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.4
pyparsing==3.0.6
pyproj==3.3.0
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PySide2==5.15.2
PySimpleGUI==4.55.1
PySimpleGUIQt==0.35.0
python-dateutil==2.8.2
pywin32-ctypes==0.2.0
requests==2.26.0
sentinelsat==1.1.0
shiboken2==5.15.2
six==1.16.0
tqdm==4.62.3
urllib3==1.26.7
